
.app-wrapp{
      border:1px solid #f3f3f3;
      padding: 0;
      margin: 20px 0px;
      background: rgba(0,0,0,0.02);

    .imo-title{
        background: #2d6fa2;
        margin: 0;
        color: #fff;
        padding:20px 0px;
        padding-left: 30px;
    }
}
.imo-panel{

    padding: 30px;


}