.app-wrapp {
  border: 1px solid #f3f3f3;
  padding: 0;
  margin: 20px 0px;
  background: rgba(0, 0, 0, 0.02);
}
.app-wrapp .imo-title {
  background: #2d6fa2;
  margin: 0;
  color: #fff;
  padding: 20px 0px;
  padding-left: 30px;
}
.imo-panel {
  padding: 30px;
}

#process{
  text-align:center;
  color:#325fb4;
  font-size:20px;
  display: none;
}
#succes {
  font-size:20px;
  color:green;
  display:block;
  text-align:center;
  display:none;
}

#succes img{
 margin-right:10px;
}
#succes span{

  width: 60px;
  height:60px;
  line-height: 60px;
  text-align: center;
  background:green;
  border-radius: 100%;
  color:#fff;
  margin-right: 20px;
  // display:none;
}

.progress-script-cotainer{

  width: 300px;
  height:20px;
  border-radius:4px;
  background: #ddd;
  margin: 10px auto;
  display:block;
  text-align:center;
  padding: 5px;

}

.progress-script {
    position: relative;
    border-radius:4px;
    display: block;

    text-align: center;
    width: 0;
    height: 10px;
    // margin-top: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    transition: width .3s;

}
.progress.hide {
    // opacity: 0;
    // transition: opacity 1.3s;
}